.main {
  display: flex;
  align-items: center;
  gap: 8px;
}

.Root {
  all: unset;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 3px;

  background-image: url("../../../assets//icons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 36px;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-dark-100);
  }

  &:focus-visible {
    background-color: var(--color-dark-100);
  }

  &:disabled {
    background-image: url("../../../assets//icons/disabledCheckbox.svg");

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }
}

.Indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  cursor: pointer;
  margin-left: 2px;

  &.disabled {
    cursor: auto;
    color: var(--color-dark-100);
  }

  .typography {
    color: inherit; // Наследует цвет от label
  }
}
